<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%-include("layout/nav.ejs");-%>
        <div class="container">
            <% if(userid && usertype == 'driver') { %>
                <h1>
                    Welcome to Drive Test Driver Dashboard
                </h1>
                <% if(data.appointmentId) {%>
                    <div>
                        <p class="form-h6">
                            Your Appointment booked on <b><%=data.appointmentDate%></b> at <b><%=data.appointmentTime%></b>
                        </p>
                    </div>
                    
                    <% if(data.status == 'pass') { %>
                    <div class="alert success">
                        <strong>Congratulations!</strong> You've passed your <%=data.testType%> exam.
                    </div>
                    <div class="commment">
                        <h3>Comments</h3>
                        <p><%=data.comment%></p>
                    </div>
                    <% } else if(data.status == 'fail') { %>
                    <div class="alert fail">
                        <strong>Sorry!</strong> You did not pass your <%=data.testType%> exam. Please try again later.
                    </div>
                    <div class="commment">
                        <h3>Comments</h3>
                        <p><%=data.comment%></p>
                    </div>
                    <% } else { %>
                    <div class="alert info">
                        <strong>Pending!</strong> Your <strong><%=data.testType%></strong> exam decision is pending
                    </div>
                    <% } %>
                    
                <% } else { %>
                    <div>
                        <p class="form-h6">
                            Hello <b><%if(data.firstname && data.lastname) { %> <%=data.firstname %> <%=data.lastname %> <% } else { %> <%=data.username %> <% } %> </b>, you do not have any appointment.
                            </br>
                            You can book an appointment for G2 or G License. 
                        </p>
                    </div>
                <% } %>
            <% } else if(userid && usertype == 'admin') { %>
                <h1>
                    Welcome to Drive Test Admin Dashboard
                </h1>
                <form method="get" action="/">
                    <div class="filter d-flex justify-content-end align-item-center">
                        <label class="container mr-5"><b>Filter</b></label>
                        <label class="container mr-5">All
                            <%if(currentSelectedFilter && (currentSelectedFilter == 'pass' || currentSelectedFilter == 'fail')) { %>
                                <input type="radio" id="all" name="status" value="all">
                            <% } else { %>
                                <input type="radio" id="all" name="status" value="all" checked>
                            <% } %>
                            <span class="checkmark"></span>
                        </label>
                        <label class="container mr-5">Pass
                            <%if(currentSelectedFilter && (currentSelectedFilter == 'pass')) { %>
                            <input type="radio" id="pass" name="status" value="pass" checked>
                            <% } else { %>
                            <input type="radio" id="pass" name="status" value="pass">
                            <% } %>    
                            <span class="checkmark"></span>
                        </label>
                        <label class="container mr-5">Fail
                            <%if(currentSelectedFilter && (currentSelectedFilter == 'fail')) { %>
                            <input type="radio" id="fail" name="status" value="fail" checked>
                            <% } else { %>
                            <input type="radio" id="fail" name="status" value="fail">
                            <% } %> 
                                <span class="checkmark"></span>
                        </label>
                        <button type="submit">Search</button>
                    </div>
                </form>
                <%- include('layout/table.ejs') %>
            <% } else if(userid && usertype == 'examiner') { %>
                <h1>
                    Welcome to Drive Test Examiner Dashboard
                </h1>
                <form method="get" action="/">
                    <div class="filter d-flex justify-content-end align-item-center">
                        <label class="container mr-5"><b>Filter</b></label>
                        <label class="container mr-5">All
                            <%if(currentSelectedFilter && (currentSelectedFilter == 'g2' || currentSelectedFilter == 'g')) { %>
                                <input type="radio" id="all" name="status" value="all">
                            <% } else { %>
                                <input type="radio" id="all" name="status" value="all" checked>
                            <% } %>
                            <span class="checkmark"></span>
                        </label>
                        <label class="container mr-5">G2
                            <%if(currentSelectedFilter && (currentSelectedFilter == 'g2')) { %>
                            <input type="radio" id="g2" name="status" value="g2" checked>
                            <% } else { %>
                            <input type="radio" id="g2" name="status" value="g2">
                            <% } %>    
                            <span class="checkmark"></span>
                        </label>
                        <label class="container mr-5">G
                            <%if(currentSelectedFilter && (currentSelectedFilter == 'g')) { %>
                            <input type="radio" id="g" name="status" value="g" checked>
                            <% } else { %>
                            <input type="radio" id="g" name="status" value="g">
                            <% } %> 
                                <span class="checkmark"></span>
                        </label>
                        <button type="submit">Search</button>
                    </div>
                </form>
                <%- include('layout/table.ejs') %>
            <% } else { %>
                <center><h1 style="margin-top: 80px;">Welcome to Drive Test Application</h1></center>
            <% } %>
            
        </div>
</body>

</html>